@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

@font-face {
    font-family: headerFont;
    src: url(headerFont.otf);
}

body {
    background-color: #96a888;
    color: #000100;
    font-family: headerFont;
}

.nav {
    background-color: #6d744a;
}

#home {
    background-image: url('/imgs/81KbazjNmxL._AC_SL1500_.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
}

.main {
    background-color: rgba(246, 252, 244, 0.5);
}

.btn {
    border-color: #6d744a;
    --btn-hover-color: var(#969696);
}

footer{
    background-color: #6D744A;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
    font-family: 'PT Mono', monospace;
}

.socials {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
}

a{
    color:#000000;
    text-decoration: none;
} 

