@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

:root {
    --font: 'Roboto Mono', serif;
    --mintCream: #f6fcf4;
    --laurelGreen: #96a888;
    --darkOlivGreen: #6d744a;
    --pineTree: #252b1b;
    --black: #000100;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

body {
    background-color: var(--laurelGreen);
    color: var(--black);
    font-family: var(--font);
}

nav, .offcanvas {
    background-color: var(--darkOlivGreen);
}

#home {
    background-image: url('/imgs/81KbazjNmxL._AC_SL1500_.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
}

.main {
    background-color: rgba(246, 252, 244, 0.5);
}

.btn {
    border-color: var(--darkOlivGreen);
    --btn-hover-color: var(#969696);
}

footer{
    background-color: #6D744A;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
    font-family: 'PT Mono', monospace;
}

.socials {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
}

a{
    color:#000000;
    text-decoration: none;
} 

